body {
    margin: 0;
    text-align: center;
    /* Roboto Font specification*/
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* from 100-900 */
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* Text styling*/
    font-size: 1.3125rem; /* 21px */
    /* */
}

.container {
    width: 570px;
    margin: 0 auto;
    padding-top: 0;
}

/* Text styling*/
.accent-text {
    display: block;
}

.accent-text, .name, time {
    font-weight: 900;
    color: #99D930;
}

h1 {
    font-size: 3.75rem; /* 60px*/
    margin-top: 0;

}

h1 span {
    font-size: 5rem;
}

h2 {
    font-size: 2.625rem; /* 42*/
    margin-top: 0;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;

    /* Adding equal value space after the border*/
    padding: 20px 0;
    margin-bottom: 20px;
}

h2 span{
    font-size: 3.75rem;
}

h3 {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.small-text {
    font-size: 1rem; /* 16px */
    margin-top: 0; /* Without this, the h3{margin-bottom: 0} is essentially overridden by p{default-margin}*/
}

/* Navigation links*/
a {
    color: #99D930;
}

a:hover, a:focus {
    color: #131313;
}

.btn {
    background-color: #99D930;
    color: #252525;
    padding: 10px 15px;
    margin-top: 40px;
    text-decoration: none;
    display: inline-block; /* crucial for navigation "buttons" */
}

.btn:hover, .btn:focus {
    background-color: #252525;
    color: #FFF;
}

.inverse .btn:hover,
.inverse .btn:focus {
    background-color: #fff;
    color: #252525;
}

/* Layout and background*/
header, section {
    padding: 100px 0;
    background-color: #fff;
    color: #252525;
}

.inverse {
    background-color: #252525;
    color: #fff;
}

/*
1. Dont use height nor width
2. Change display property
 */